<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dipansh.canyouhearme">
    <application
        android:allowBackup="true"
        android:icon="@drawable/micicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/micicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <appwidget-provider xmlns:android="http://schemas.android.com/apk/res/android"
            android:minWidth="120dp"
            android:minHeight="60dp"
            android:updatePeriodMillis="1800000"
            android:initialLayout="@layout/my_widget"
            android:resizeMode="horizontal|vertical"
            android:widgetCategory="home_screen|keyguard"
            android:previewImage="@drawable/micicon">
        </appwidget-provider>
        <receiver android:name="WidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@layout/my_widget" />
        </receiver>

    </application>
</manifest>
